@page
@model WebApp.Pages.RentalPages.ReturnsModel
@{
    ViewData["Title"] = "Returns";
}

<h2 class="pb-4">@ViewData["Title"]</h2>

<form method="post">
    <div class="container container-md">
        <div class="row pb-5">
            <div class="col-4">
                <input type="tel" class="form-control" placeholder="Phone Number 999.999.9999" aria-label="Phone Numberss" pattern="[0-9]{3}.[0-9]{3}.[0-9]{4}" asp-for="phone_number">
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Rental Number" aria-label="Rental Numbersss" asp-for="CustRentalID">
            </div>
            <div class="col">
                <button class="btn btn-primary" asp-page-handler="SearchReturn">Display</button>
            </div>
        </div>
        @*<div class="col-10 p-3 pt-2 text-danger" style="width: 20rem">*@
        <div class="col-10 p-3 pt-2 text-danger">
            @if (Model.ErrorList != null && Model.ErrorList.Count() > 0)
            {
                <div class="alert-danger" style="--bs-bg-opacity: .5;">
                    <ul>
                        @foreach (var itm in Model.ErrorList)
                        {
                            <li>@itm.Message</li>
                        }
                    </ul>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.ErrFeedback))
            {
                <p class="alert-danger">@Model.ErrFeedback</p>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Feedback))
            {
                <span class="alert-success">@Model.Feedback</span>
            }
        </div>
        @if (Model.customerDetails != null && Model.customerDetails.CustomerID > 0)
        {
            @*Customer Details*@
            <div class="col-8 border pt-3 pb-3 ps-2">
                <div>
                    <div>
                        <h5>Customer Details</h5>
                    </div>
                    <div class="row pt-2">
                        <div class="col-1"> <label>Name:</label> </div>
                        <div class="col-5">
                            <p>@Model.customerDetails.FirstName @Model.customerDetails.LastName</p>
                            <input type="hidden" name="customerDetails.FirstName" value="@Model.customerDetails.FirstName" readonly />
                            <input type="hidden" name="customerDetails.LastName" value="@Model.customerDetails.LastName" readonly />
                            <input type="hidden" name="customerDetails.CustomerID" value="@Model.customerDetails.CustomerID" readonly />
                        </div>
                        <div class="col-1"> <label>Email:</label> </div>
                        <div class="col-2">
                            <p>@Model.customerDetails.EmailAddress</p>
                        </div>
                        <input type="hidden" name="customerDetails.EmailAddress" value="@Model.customerDetails.EmailAddress" readonly />
                    </div>
                </div>
                <div>
                    <div class="row pt-2">
                        <div class="col-1"> <label>Address:</label> </div>
                        <div class="col-5">
                            <p>@Model.customerDetails.CompleteAdd</p>
                            <input type="hidden" name="customerDetails.CompleteAdd" value="@Model.customerDetails.CompleteAdd" readonly />
                        </div>
                        <div class="col-1"> <label>Phone:</label> </div>
                        <div class="col-2">
                            <p>@Model.customerDetails.ContactPhone</p>
                        </div>
                        <input type="hidden" name="customerDetails.ContactPhone" value="@Model.customerDetails.ContactPhone" readonly />
                    </div>
                </div>
            </div>

            @if (Model.customerRentals.Count() != 0)
            {
                @*Customer Rental List*@
                <section class="pt-5">
                    <div class="row pt-5">
                        <div class="col-7">
                            <h5>Customer Rental List</h5>
                        </div>
                        <div class="col">
                            <h6>Total @Model.customerRentals.Count()</h6>
                        </div>
                    </div>
                    <div class="col-8 overflow-scroll" style="height: 10rem">
                        <table class="table h-50">
                            <thead>
                                <tr>
                                    <th scope="col">Action</th>
                                    <th scope="col">Rental No.</th>
                                    <th scope="col">Date Out</th>
                                    <th scope="col">Date In</th>
                                    <th scope="col">Processed By</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rec in Model.customerRentals)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" name="customerRentals.Index" value="@rec.RentalID" />
                                            <input type="hidden" name="customerRentals[@rec.RentalID].RentalID" value="@rec.RentalID" readonly />
                                            <input type="hidden" name="customerRentals[@rec.RentalID].PaymentType" value="@rec.PaymentType" readonly />
                                            @if (rec.SubTotal > 0)
                                            {
                                                <button class="btn-link border-0" type="submit" name="CustReturnID" value="@rec.RentalID"
                                        asp-page-handler="GetRentals">
                                                    View
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn-link border-0" type="submit" name="CustReturnID" value="@rec.RentalID"
                                        asp-page-handler="GetRentals">
                                                    Select
                                                </button>
                                            }
                                        </td>
                                        <td>
                                            <span>@rec.RentalID</span>
                                            <input type="hidden" name="customerRentals[@rec.RentalID].CouponID" value="@rec.CouponID" readonly />
                                        </td>
                                        <td>
                                            <span>@rec.RentalDateOut.ToShortDateString()</span>
                                            <input type="hidden" name="customerRentals[@rec.RentalID].RentalDateOut" value="@rec.RentalDateOut" readonly />
                                        </td>
                                        <td>
                                            <span>@rec.RentalDateIn.ToShortDateString()</span>
                                            <input type="hidden" name="customerRentals[@rec.RentalID].RentalDateIn" value="@rec.RentalDateIn" readonly />
                                        </td>
                                        <td>
                                            <span>@rec.EmployeeName</span>
                                            <input type="hidden" name="customerRentals[@rec.RentalID].EmployeeName" value="@rec.EmployeeName" readonly />
                                            <input type="hidden" name="customerRentals[@rec.RentalID].EmployeeID" value="@rec.EmployeeID" readonly />
                                            <input type="hidden" name="customerRentals[@rec.RentalID].SubTotal" value="@rec.SubTotal" readonly />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>

                @*Rented Equipment*@
                <section class="pt-5">
                    @if (Model.returnEquipt.Count == 0)
                    {
                        <h5>Rental</h5>
                        <div class="col-10 row  border pb-2">
                            <span>No rental recorded.</span>
                        </div>
                    }
                    else
                    {
                        <h5>Rental @Model.CustReturnID - @Model.customerRentalRec.RentalDateOut.ToShortDateString()</h5>
                        <div class="col-10 row  border pb-2">
                            <div class="col d-inline-flex pt-3">
                                <div class="col-1" style="width: 10rem">
                                    <label>Mode of Payment</label>
                                </div>
                                <div class="col-2 col" style="width: 20rem">
                                    @if (Model.cantUpdate) // already returned
                                    {
                                        @if (Model.customerRentalRec != null && Model.customerRentalRec.PaymentType.Equals("M"))
                                        {
                                            <input type="radio" name="PaymentType" value="@Model.customerRentalRec.PaymentType" checked disabled />
                                        }
                                        else
                                        {
                                            <input type="radio" name="PaymentType" value="@Model.customerRentalRec.PaymentType" disabled />
                                        }
                                        <label class="p-2">Cash</label>
                                        @if (Model.customerRentalRec != null && Model.customerRentalRec.PaymentType.Equals("C"))
                                        {
                                            <input type="radio" name="PaymentType" value="@Model.customerRentalRec.PaymentType" checked disabled />
                                        }
                                        else
                                        {
                                            <input type="radio" name="PaymentType" value="@Model.customerRentalRec.PaymentType" disabled />
                                        }
                                        <label class="p-2">Credit</label>
                                        @if (Model.customerRentalRec != null && Model.customerRentalRec.PaymentType.Equals("D"))
                                        {
                                            <input type="radio" name="PaymentType" value="@Model.customerRentalRec.PaymentType" checked disabled />
                                        }
                                        else
                                        {
                                            <input type="radio" name="PaymentType" value="@Model.customerRentalRec.PaymentType" disabled />
                                        }
                                        <label class="p-2">Debit</label>
                                    }
                                    else
                                    {
                                        @if (Model.PaymentType == "M")
                                        {
                                            <input type="radio" name="PaymentType" value="@Model.PaymentType" checked />
                                        }
                                        else
                                        {
                                            <input type="radio" name="PaymentType" value="M" />
                                        }
                                        <label class="p-2">Cash</label>

                                        @if (Model.PaymentType == "C")
                                        {
                                            <input type="radio" name="PaymentType" value="@Model.PaymentType" checked />
                                        }
                                        else
                                        {
                                            <input type="radio" name="PaymentType" value="C" />
                                        }
                                        <label class="p-2">Credit</label>

                                        @if (Model.PaymentType == "D")
                                        {
                                            <input type="radio" name="PaymentType" value="@Model.PaymentType" checked />
                                        }
                                        else
                                        {
                                            <input type="radio" name="PaymentType" value="D" />
                                        }
                                        <label class="p-2">Debit</label>
                                    }
                                </div>

                                <div class="row col-4 justify-content-end">
                                    <div class="col-3" style="width: 10rem">
                                        <label>Total Rent Days</label>
                                    </div>
                                    <div class="col-1">
                                        @if (Model.cantUpdate) // already returned
                                        {
                                            <input type="number" id="hourlywage" name="rent_days" value="@Model.rent_days" disabled />
                                        }
                                        else
                                        {
                                            <input type="number" id="hourlywage" name="rent_days" max="10000.0" min="1.0" step="0.5" value="@Model.rent_days" />
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="col-10 col  justify-content-end d-inline-flex">
                                <div class="col-3" style="width: 5rem">
                                    <label>Coupon: </label>
                                </div>
                                <div class="col-2">
                                    <span>@Model.couponInfo.CouponIDValue</span>
                                    @*<input type="hidden" name="CouponIDValue" value="@Model.rent_days" readonly />*@
                                </div>
                            </div>
                            <div class="col-10 col d-inline-flex pt-4">
                                <div class="col-1">
                                    <label>SubTotal: </label>
                                </div>
                                <div class="col-2">
                                    @if (Model.customerRentalRec.SubTotal != 0 && Model.subTotal == 0)
                                    {
                                        <span>@Model.customerRentalRec.SubTotal.ToString("N")</span>
                                    }
                                    else
                                    {
                                        <span>@Model.subTotal.ToString("N")</span>
                                    }
                                    <input type="hidden" name="subTotal" value="@Model.subTotal" />
                                </div>
                                <div class="col-2">
                                    <label>Cost of Repair: </label>
                                </div>
                                <div class="col-2">
                                    <span>@Model.costOfRepair.ToString("N")</span>
                                    <input type="hidden" name="subTotal" value="@Model.costOfRepair" />
                                </div>
                                <div class="col-1">
                                    <label>GST: </label>
                                </div>
                                <div class="col-2">
                                    @if (Model.customerRentalRec.TaxAmount != 0 && Model.gst == 0)
                                    {
                                        <span>@Model.customerRentalRec.TaxAmount.ToString("N")</span>
                                    }
                                    else
                                    {
                                        <span>@Model.gst.ToString("N")</span>
                                    }
                                    <input type="hidden" name="gst" value="@Model.gst" />
                                </div>
                                <div class="col-2">
                                    <label>Discount </label>
                                    <span>(@Model.couponInfo.CouponDiscount%):</span>
                                </div>
                                <div class="col-2">
                                    <span>@Model.discount.ToString("N")</span>
                                    <input type="hidden" name="discount" value="@Model.discount" />
                                </div>
                            </div>
                            <div class="col-10 col fw-bolder justify-content-end d-inline-flex pt-4">
                                <div class="col-3" style="width: 5rem">
                                    <label>Total: </label>
                                </div>
                                <div class="col-2">
                                    <span>@Model.total.ToString("N")</span>
                                </div>
                            </div>
                        </div>
                    }
                </section>


                @*Rented List*@
                <section class="pt-5">
                    <h5>Rent Equipment</h5>
                    <div class="col-10">
                        @if (Model.returnEquipt.Count == 0)
                        {
                            <span>No equipment rented.</span>
                        }
                        else
                        {
                            <div class="row justify-content-end pb-3">
                               @* <div class="col-9">
                                    <h6>Total @Model.returnEquipt.Count()</h6>
                                </div>*@
                                <div class="col-2">
                                    @if (Model.cantUpdate) // already returned
                                    {
                                        <button class="btn btn-primary" style="width: 4rem" disabled>Pay</button>
                                        <button class="btn btn-primary" disabled>Return</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary" asp-page-handler="PayReturn" style="width: 4rem">Pay</button>
                                        <button class="btn btn-primary" asp-page-handler="Return">Return</button>
                                    }
                                </div>
                            </div>
                            <div class="overflow-scroll" style="height: 10rem">
                                <table class="table table-striped table-sm ">
                                    <thead>
                                    <tr>
                                        <th scope="col">Description</th>
                                        <th scope="col">Serial Number</th>
                                        <th scope="col">Rate</th>
                                        <th scope="col">Cost of Repair</th>
                                        <th scope="col">Out</th>
                                        <th scope="col">In</th>
                                        <th scope="col">Comment</th>
                                        <th scope="col">Av</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model.returnEquipt)
                                    {
                                        <tr>
                                            <td style="width: 15rem">
                                                <input type="text" name="returnEquipt[@item.RentalDetailID].Description" value="@item.Description" readonly disabled />
                                                <input type="hidden" name="returnEquipt.Index" value="@item.RentalDetailID" />
                                                <input type="hidden" name="returnEquipt[@item.RentalDetailID].RentalEquipmentID" value="@item.RentalEquipmentID" readonly />
                                                <input type="hidden" name="returnEquipt[@item.RentalDetailID].RentalID" value="@item.RentalID" readonly />
                                                <input type="hidden" name="returnEquipt[@item.RentalDetailID].RentalDetailID" value="@item.RentalDetailID" readonly />
                                                <input type="hidden" name="returnEquipt[@item.RentalDetailID].Description" value="@item.Description" readonly />
                                            </td>
                                            <td style="width: 10rem">
                                                <input type="hidden" name="returnEquipt[@item.RentalDetailID].SerialNumber" value="@item.SerialNumber" />
                                                <input type="text" name="returnEquipt[@item.RentalDetailID].SerialNumber" value="@item.SerialNumber" readonly disabled />
                                            </td>
                                            <td style="width: 5rem">
                                                <input type="hidden" name="returnEquipt[@item.RentalDetailID].RentalRate" value="@item.RentalRate" />
                                                <input type="text" name="returnEquipt[@item.RentalDetailID].RentalRate" value="@item.RentalRate.ToString("N")" disabled />
                                            </td>
                                            <td style="width: 7rem">
                                                @if (Model.cantUpdate) // already returned
                                                {
                                                    <input type="number" min="0.00" step="0.01" style="width: 7rem" name="returnEquipt[@item.RentalDetailID].DamageRepairCost" value="@item.DamageRepairCost.ToString("N")" placeholder="0.00" disabled />
                                                }
                                                else
                                                {
                                                    <input type="number" min="0.00" step="0.01" style="width: 7rem" name="returnEquipt[@item.RentalDetailID].DamageRepairCost" value="@item.DamageRepairCost.ToString("N")"  />
                                                }
                                            </td>
                                            <td style="width: 8rem">
                                                <input type="hidden" name="returnEquipt[@item.RentalDetailID].OutCondition" value="@item.OutCondition" />
                                                <input type="text" name="returnEquipt[@item.RentalDetailID].OutCondition" value="@item.OutCondition" readonly disabled />
                                            </td>
                                            <td style="width: 8rem">
                                                @if (Model.cantUpdate) // already returned
                                                {
                                                    <input type="text" style="width: 8rem" name="returnEquipt[@item.RentalDetailID].InCondition" value="@item.InCondition" disabled />
                                                }
                                                else
                                                {
                                                    <input type="text" style="width: 8rem" name="returnEquipt[@item.RentalDetailID].InCondition" value="@item.InCondition" />
                                                }
                                            </td>
                                            <td style="width: 8rem">
                                                @if (Model.cantUpdate) // already returned
                                                {
                                                    <input type="text" style="width: 8rem" name="returnEquipt[@item.RentalDetailID].Comments" value="@item.Comments" disabled />
                                                }
                                                else
                                                {
                                                    <input type="text" style="width: 8rem" name="returnEquipt[@item.RentalDetailID].Comments" value="@item.Comments" />
                                                }
                                            </td>
                                            <td>
                                                @if (Model.cantUpdate) // already returned
                                                {
                                                    <input type="checkbox" name="returnEquipt[@item.RentalDetailID].Available" value="true" checked disabled />
                                                    <input type="hidden" name="returnEquipt[@item.RentalDetailID].Available" value="@item.Available" checked="@item.Available" disabled />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="returnEquipt[@item.RentalDetailID].Available" value="true" checked="@item.Available" />
                                                    <input type="hidden" name="returnEquipt[@item.RentalDetailID].Available" value="@item.Available" checked="@item.Available" />
                                                }
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-9 pt-2">
                                <h6>Total @Model.returnEquipt.Count()</h6>
                            </div>
                        }
                    </div>
                </section>
            }
        }
    </div>
</form>