@page
@model WebApp.Pages.SalesPages.CartModel
@{
    ViewData["Title"] = "Shopping Cart";
}
<div class="d-flex">
    <a class="btn btn-primary btn-lg mx-2" asp-page="/SalesPages/Shopping">Shopping</a>
    <a class="btn btn-primary btn-lg active mx-2" asp-page="/SalesPages/Cart">Shopping Cart</a>
    <a class="btn btn-primary btn-lg mx-2" asp-page="/SalesPages/Checkout">Checkout</a>
</div>
<h2 class="pb-4 pt-2 mx-2">@ViewData["Title"]</h2>

@if (Model.FeedBack != null)
{
    <p>@Model.FeedBack</p>    
}
@if(@Model.Cart.Count() > 0)
{

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Cart)
            {
                <form method="post">
                <tr>
                    <td class="px-3">@item.Description</td>
                    <td class="px-3">@item.SellingPrice.ToString("0.00")</td>
                    <td class="px-3">@((item.SellingPrice*item.Quantity).ToString("0.00"))</td>
                    <td class="px-3">
                        <input type="hidden" asp-for="Item" value="@item.StockItemID" />
                        <button type="submit" asp-page-handler="RemoveItem" class="btn btn-primary btn-md">Remove</button>
                    </td>
                    <td class="px-3"><input type="number" value="@item.Quantity" asp-for="Quantity"/></td>
                    <td class="px-3"><button type="submit" asp-page-handler="ChangeQuantity" class="btn btn-primary btn-md">Refresh</button></td>
                </tr>
                </form>
            }
        </tbody>
    </table>
}
